@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Oswald:wght@300&family=Pacifico&display=swap');
.navbar-expand-lg{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}
.nav-link{
    font-family:Oswald;
    font-size:xx-large;
}
#navbarSupportedContent{
    padding-left: 30px;
}

#hov:hover{
    background: #FF8000; /* Цвет фона под ссылкой */
    color: #ffe; /* Цвет ссылки */
}
#hov1:hover{
    background: #FF8000; /* Цвет фона под ссылкой */
    color: #ffe; /* Цвет ссылки */
}
#hov2:hover{
    background: #FF8000; /* Цвет фона под ссылкой */
    color: #ffe; /* Цвет ссылки */
}
table {
    width: 80%;
    margin-bottom: 20px;
    border: 15px solid #FF8000;
    border-top: 5px solid #FF8000;
    border-collapse: collapse;
}
table th {
    font-weight: bold;
    padding: 5px;
    background: #FF8000;
    border: none;
    border-bottom: 5px solid #FF8000;
}
table td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #FF8000;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Кнопка, используемая для открытия контактной формы-фиксируется в нижней части страницы */
.open-button {
    background-color: #FF8000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
}

/* Добавление стилей в контейнер форм */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Поля ввода полной ширины */
.form-container input[type=text], .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* Когда входы получают фокус, сделайте что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

/* Установите стиль для кнопки отправить/кнопка */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Добавьте красный цвет фона к кнопке отмена */
.form-container .cancel {
    background-color: red;
}

/* Добавьте некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}