<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/student" method="post" th:object="${student}">
    <input type="text" th:field="*{name}" th:text="Name"><br>
    <input type="text" th:field="*{age}" th:text="Age"><br>
    <input type="text" th:field="*{university}" th:text="University"><br>
    <button>Add</button>
</form>
<ul>
    <li th:each="item:${students}">
        <p th:text="${item.name} "></p>
    </li>

</ul>
</body>
</html>