<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web 
     Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

    <servlet>
        <servlet-name>newServlet</servlet-name>
        <servlet-class>org.example.Registration</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>newServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>org.example.SuccessAutorization</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>myFilter</filter-name>
        <filter-class>org.example.MyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/user</url-pattern>
    </filter-mapping>

    
</web-app>